<div class="wrapper">


  <nav id="sidebar">


    <div class="menu">
      <div class="logo">
        <img src="../../assets/earth.png" alt="Logo">
      </div>
      <ul>
        <li>
          <a href="#">Genaral Infomation</a>
        </li>
        <li>
          <a href="#">Procedures</a>
        </li>
        <li>
          <a href="#">Doctor</a>
        </li>
        <li>
          <a href="#">Chat Room</a>
        </li>
        <li>
          <a href="#">Booking And Payment</a>
        </li>
      </ul>
      <!--- <div class="menu-item">
        <a href="#">Genaral Infomation</a>
      </div>
      <div class="menu-item">
        <a href="#">Procedures</a>
      </div>
      <div class="menu-item">
        <a href="#">Doctor</a>
      </div>
      <div class="menu-item">
        <a href="#">Chat Room</a>
      </div>
      <div class="menu-item">
        <a href="#">Booking And Payment</a>
      </div> -->
    </div>
  </nav>
</div>
