.wrapper {
  display: flex;
  align-items: stretch;

}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 250vh;
  border-style: solid;
  border-width: 0 2px 0px 0px;
  border-color: lightgrey;

}

.logo {
  text-align: center;
  padding: 20% 0;

}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {

  padding: 10px;

  font-weight: normal;

}

/* li:hover {
  background-color: #F3FAFA;
} */

li:hover a {
  /*color: #1B8E8E;*/
  color: #636773;
}

a {
  margin-left: 15px;
  font-size: 18px;
  text-decoration: none !important;
  color: #83868F;
}


li:hover path {
  fill: #636773;
  pointer-events: none;
}

svg {
  margin-right: 10px;
}


li:active {
  background-color: #F3FAFA;
}

li:active a {
  color: #1B8E8E;
}

li:active path {
  fill: #1B8E8E;
}


/* ul.active {
  background-color: #F3FAFA;
}

ul.active li {
  background-color: #F3FAFA;
}

ul.active path {
  color: #1B8E8E;
}

ul.active a {
  fill: #1B8E8E;
} */
