<div class="container-fluid">
  <div class="d-flex flex-row text-wrap ">
    <h5>Procedures Selection</h5>

  </div>
  <div class="d-flex flex-row">
    <p style="font-size:17px;">World Class Medical Procedures</p>

  </div>
  <div class="d-flex flex-row">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, tenetur in atque dolores similique perspiciatis at
      facere dolor quaerat rerum harum repellendus, aut saepe molestias aliquid sint laboriosam accusamus odio. Ab natus
      temporibus aut culpa ducimus porro sit iure nostrum.</p>
  </div>
</div>
