* {
  color: #6d6873;
}

.container-gallery {
  max-width: 650px;
  padding: 15px 0;
}

a {
  text-decoration: none;
}


.form-wrapper {
  padding: 10px;
  margin: 0 50px;
}

.btn-primary {
  color: #fff;
  background-color: #21A7A7;
  border-color: #21A7A7;

}

.text-wrap {
  margin: 20px 0;
}
